body
{
    background-color: #1c2a49;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin: 0;
    padding: 0;    
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
#main
{
    /*nice round corners*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /*shadow*/
    -moz-box-shadow: 0px 0px 10px #000;
    -webkit-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;

    -moz-box-shadow: 0px 0px 10px #000;
    -webkit-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    /* cool border */
    border: 1px solid #ccc;
    /*text color*/
    color: #333333;
    /*padding*/
    padding: 10px;
    /*text align*/
    text-align: center;
    /*font size*/
    font-size: 24px;
    /*font family*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*text shadow*/
    text-shadow: 1px 1px 0px #fff;
    /*center this div*/
    margin: 0 auto;
    /*width*/
    width: 70%;
    /* separate from top */
    margin-top: 5%;
    /*use a dark theme like ui*/
    background-color: #201e1e;
    /*text color*/
    color: #fff;
    display: flex;
    flex-direction: column;




}
.content {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
  }
#input, #output
{
  width: 100%;
  /* center this my dear copilot*/
  margin: 0 auto;
  /*make it look nice*/
  padding: 10px;
  /*make it look nice*/
  border: 1px solid #ccc;
  /*make it look nice*/
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#run
{
  width : 20%;
  /*put this button in the right*/
  margin-left: 80%;
  /*make it look nice*/
  border: 1px solid #ccc;
  /*make it look nice*/
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

}
#blog
{

}
#terminal-container
{
  /* nice rouded borders */
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* cool border */
  border: 1px solid #ccc;
  /*padding*/
  padding: 10px;
  background-color: #000;
}